spring:
  application:
    name: workout
  jpa:
    hibernate:
      ddl-auto: none
  mvc:
    hiddenmethod:
      filter:
        enabled: true
logging:
  level:
    sql: DEBUG
server:
  error:
    whitelabel:
      enabled: false
  tomcat:
    accesslog:
      enabled: true
      directory:  # Absolute Path
      pattern: common
