spring:
  application:
    name: workout
  jpa:
    hibernate:
      ddl-auto: none
  mvc:
    hiddenmethod:
      filter:
        enabled: true
logging:
  level:
    org:
      springframework:
        security: DEBUG
    sql: DEBUG
    web: DEBUG
server:
  servlet:
    session:
      timeout: 60m
  error:
    whitelabel:
      enabled: false
  tomcat:
    accesslog:
      enabled: true
      directory:  # Absolute Path
      pattern: common
