spring:
  application:
    name: workout
  jpa:
    hibernate:
      ddl-auto: none
  mvc:
    hiddenmethod:
      filter:
        enabled: true
  docker:
    compose:
      lifecycle-management: start-only
  data:
    redis:
      host: localhost
      port: 6379
  session:
    redis:
      namespace: spring:session:workout
logging:
  level:
    org:
      springframework:
        security: DEBUG
    sql: DEBUG
    web: DEBUG
server:
  servlet:
    session:
      timeout: 60m
  error:
    whitelabel:
      enabled: false
  tomcat:
    accesslog:
      enabled: true
      directory:  # Absolute Path
      pattern: common
